.main {
  display: flex;
  height: 100vh;
  background-color: var(--main-bg);
  &__information {
    width: 400px;
    height: 400px;
    border: 1px solid red;
  }
  &__photo {
    width: 400px;
    height: 400px;
    border: 1px solid red;
  }
}